@media (min-width: 768px) {
  #chatsOffCanvasControl {
    display: none;
  }
}

@media (max-width: 767px) {
  #chatsCard {
    display: none;
  }
}

.chat-item {
    border-radius: 4px;
    transition: background-color 0.3s;
}

.chat-item:hover, .chat-item.active {
  background-color: #f1f1f4;
  transition: background-color 0.3s;
}

[data-bs-theme=dark] {
    .chat-item:hover, .chat-item.active {
        background-color: #26272f;
    }
}

.typing-animation span {
  display: inline-block;
  font-size: 1.2em;
  animation: bounce 1.5s infinite;
}

.typing-animation span:nth-child(1) {
  animation-delay: 0s;
}

.typing-animation span:nth-child(2) {
  animation-delay: 0.2s;
}

.typing-animation span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  0%, 80%, 100% {
      transform: translateY(0);
  }
  40% {
      transform: translateY(-10px);
  }
}
